.App {
    border-radius: 50px 0 50px 0;
}

.backgroundImage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.main {
    display: grid;
    height: 100vh;
    width: 100vw;
    background: rgba(47, 79, 79, 0.7);
    color: whitesmoke;
    position: fixed;
    z-index: 2;
}